.App {
  padding : 3rem;
  text-align: center;
  font-family: 'VT323', monospace;
  background-image: url('pokemonWallpaper.jpg');
}

.App-header {
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  align-items: stretch;
}
.vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.column_left {
  background-color:burlywood;
  flex: 1;
  padding: 1rem;
  padding-top:1rem;
  align-items: flex-start;
  justify-content: flex-start;
  border: 4px solid black;
  min-height: 100vh;

}

.column_right {
  background-color: bisque;
  flex: 6;
  padding: 1rem;
  align-items: flex-end;
  border: 4px solid black;
}

div {
  /*border: 2px solid black;*/
  padding: 1rem;
  border-radius: 10px;
}

.Navbar {
  color: white;
  padding: 1rem 2rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 10px;
  text-align: center; 
  border: 2px solid black;
  background-color: gray;
  font-family: 'VT323', monospace;
  width: 200px;
  height: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: black;
  text-decoration: underline;
  border-radius: 10px;
}

.pokemonText {
  color: black;
  padding-left: 3rem;
  padding-right: 3rem;
}